body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(160, 65, 65);
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

h2{
  margin-bottom: 3px;
}

.h2-cont{
margin: 0 7rem;
margin-bottom: 2.3rem;
}

.container {
  width: 40%;
  background-color: rgb(160, 65, 65);
  margin: 30px auto;
  padding: 30px;
}

.tareaList {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 5rem;
}

form {
  display: flex;
}

form input {
  padding: 10px;
  width: 600px;
  border: solid 2px black;
background-color: rgb(255, 255, 255, 0.85);
}

form input:hover{
  background-color: rgb(255, 255, 255);
}

ul {
  padding: 0;
}

li {
  background-color: none;
  margin: 3px 2px;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

li p {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 5px 10px;
  font-weight: bold;
}

.btn-add {
  background-color: rgb(127, 168, 127);
  color: white;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: small;
  padding: 10px;
  border: solid 1px rgb(0, 0, 0);
}

.selects{
  margin-top: 1rem;
  display: block;
}

select {
  padding: 5px 2px;
  border: solid 2px rgb(0, 0, 0,);
  background-color: rgba(255, 255, 255, 0.85);
}

select:hover{
  background-color: rgb(255, 255, 255);
}

.btn-add:hover {
  background-color: rgb(80, 156, 80);
  cursor: pointer;
  color: black;
}

.btn-delete {
  padding: 5px 10px;
  background-color: rgb(187, 25, 60);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  outline: none;
}

.btn-completed {
  padding: 5px 10px;
  background-color: rgba(105, 124, 71, 0.897);
  border: none;
  border-radius: 10px;
  color: white;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  outline: none;
}

.btn-completed:hover{
  background-color: rgba(93, 121, 45, 0.897);
  cursor: pointer;
}


.btn-delete:hover {
  background-color: rgb(228, 6, 54);
  cursor: pointer;
}


.empty{
color:white;
}

.day-container{
  display: flex;
  justify-content: space-evenly;
  column-gap: 10px;
  padding: 0 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  padding: 6px 5px;
  width: 300px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pm{
  background-color: rgb(187, 86, 68);
  flex: 1 30%;
}

.tom{
  background-color:rgb(187, 125, 68);
  flex: 1 30%;
}

.today{
  background-color:rgb(187, 155, 68);
  flex: 1 30%;
}

.completedDiv{
  padding: 0 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color:rgba(99, 134, 59, 0.548) ;
  margin: 0px 10px;
}

.emptyCo{
  margin-top: 2rem;
  display: "block";
}

.newInput{
  padding: 5px;
  border: solid 2px black;
  background-color: rgba(255, 255, 255, 0.85);
}

.newInput:hover{
  background-color: rgba(255, 255, 255);
}

.inpDiv{
  display: flex;
  flex: 1 50%;
}

.completed{
  text-decoration: line-through;
  font-weight: lighter;
  color:rgb(184, 178, 178)
}

.none{
  display: none;
}